<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }
    </style>


</head>
<body>


    <nav class="navbar navbar-inverse">
        <!--navbar-fixed-top-->
        <div class="container">

            @Html.Action("NavPartial", "SachOnline")
            
        </div>
        
    </nav>
    

        <div class="container">
            @Html.Action("SiderPartial","SachOnline")
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <!--CHỦ ĐỀ và NHÀ XUẤT BẢN-->
                        <ul class="list-group">
                            @Html.Action("ChuDePartial", "SachOnline")
                            <br>
                            <br>
                            @Html.Action("NhaXuatBanPartial", "SachOnline")


                        </ul>
                        <br>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                        @RenderBody()

                    </div>
                    <hr>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-6">

                        <div class="media-object-default">

                                @Html.Action("SachBanNhieuPartial", "SachOnline")
                        </div>

                    </div>

                </div>


            </div>
                            <!-- row-->
                            <hr>
                        </div>
                        <!-- /.container-->
                    </div>
                </div>
                <div class="container body-content">


                    <hr />
                    <footer class="container well">
                    </footer>
                </div>




</body>
</html>
